/* card.css */
.card-container {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px;
  }

  .blogButton{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f56a58;
    color: white;
    border: none;
  }


  


  .cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
  }
  
  .card-container:hover {
    transform: translateY(-4px);
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  .card-description {
    font-size: 1rem;
    color: #666;
  }
  
  .card-email {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #007bff;
  }
  
  .card-email a {
    text-decoration: none;
    color: #007bff;
  }
  
  .card-email a:hover {
    text-decoration: underline;
  }


  @media (max-width: 768px){
    .card-container{
      width: 80%;
    }
  }
  