.home-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.Home-section{
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}


.main-button{
    color: white;
    background-color: black;
    padding: 20px 40px;
    border: none;
    font-weight: bold;
    font-size: larger;
}

