.option-body {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.seller,
.vendor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50%;
}

.option-body span{
    font-weight: bold;
    margin-bottom: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options span{
    font-size: larger;
    font-weight: bold;
}


.vendour-img {
    height: 250px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-image: url('C:\Users\Shreyas\OneDrive\Desktop\WasteWelll\WebTemplet\public\vendor.png');


}


.seller-img {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-image: url('C:\Users\Shreyas\OneDrive\Desktop\WasteWelll\WebTemplet\public\Screenshot_2024-09-26_115039-removebg-preview.png');
}
